
body{
  font-family: 'Kufam', sans-serif;
}

.customTextColor{
  color: #158592
}

.bg-custom-light {
  background-color: #F2FCFD; 
}

.navbar .nav-link-custom{
  background-color: #fff;
  padding: 10px 30px;
  width: 150px;
  text-align: center;
  border: 1px solid #6DB0B8;
  border-radius: 0 15px 0 15px;
  color: #158592;
}

.navbar .nav-link-custom:hover{
  background-color: #e7fbfc;  
}

.navbar-nav .nav-link.active{
  color: #158592;
  font-weight: bold;
  background-color: #F2FCFD;
}

.navbar-nav .nav-link.active:hover{
  background-color: #e7fbfc;
}

.academicTrack{
  background-color: #6DB0B8;
}

.at-box01{
  display: block;
  height: 250px;
  background-color: #F2FCFD;
  border-radius:  0 30px 0 30px;
}

.at-box02{
  display: block;
  height: 250px;
  background-color: #F2FCFD;
  border-radius: 30px 0 30px 0;
}

.at-box01:hover, .at-box02:hover {
  background-color: #ddf8fa;
}

.py-20px{
  padding-top: 90px;
  padding-bottom: 90px;
}

/* ---------- Services section starts ------------------ */

.services .service-box-tlbr{
  display:block;
  background-color: #DCEDEF;
  border: 1px solid #158592;
  border-radius: 30px 0 30px 0;
  color: #158592;
}

/* ---------- Services section ends ------------------ */

/* ---------- testimonials section starts --------------- */

.bg-custom-light {
  background-color: #F2FCFD; 
}

.testimonialsWrapper{
  height: 600px;
  overflow-y: scroll;
}

.testimonials{
  background-color: #6DB0B8;
  border-radius: 30px;
  position: relative;
}

.testimonials::after{
  content: '';
  position: absolute;
  left: 45px;
  bottom: -32px;
  display: block;
  width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 32px solid #6DB0B8;
}

.profilePhoto{
  width: 100px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #b3b3b3;
}

/* ---------- testimonials section ends ----------- */

/* - - - - - - association section starts - - - - - - */

.associationBox{
  height: 200px;
  background: #fff;
  border-radius: 30px 0 30px 0;
  border: 1px solid #158592;
}

/* - - - - - - association section ends - - - - - - */


/* - - - - - - contact-form starts - - - - - - */

.form-heading{
  background-color: #6DB0B8;
  border-radius: 20px 0 20px 0; 
}

.contactBox{
  background-color: #f2fcfd;
  border: 1px solid #6DB0B8;
  border-radius: 30px 0 30px 0;
  color:#158592;
}

/* - - - - - - contact-form ends - - - - - - */


/* - - - - - - footer starts - - - - - - */
.footer{
  height: 300px;
  background: #6DB0B8;
}
/* - - - - - - footer ends - - - - - - */